.homepage-container{
    padding: 0;
    max-width: 100vw;
}

.greet-text{
    z-index: 99;
    position: absolute;
    /* transform: translate(-50%, -50%); */
    top: 0.5em;
    left: 1em;
    color: rgb(170, 165, 165);
    font-size: 48px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.greet-welcome{
    font-size: 35px;
}

.initials-container{
    background-color: rgb(40, 38, 38);
    color: rgb(150, 147, 147);
    border-radius: 50%;
    font-size: 15px;
    width: 40px;
    height: 40px;
    padding: 8px 4px 4px 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bull-img{
    position: absolute;
}

.image-container {
    position: relative;
    /* Set the width and height according to your image */
}

.fade-image {
    position: relative;
    overflow: hidden;
    width: 98.5vw;
    /* Set the width and height according to your image */
    height: 98vh;
}

.fade-image img {
    width: 100%;
    height: 100%;
    display: block;
}

.fade-image::before,
.fade-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, black 30%, black 70%, transparent);
    opacity: 0.7;
    /* Adjust the opacity as needed */
    pointer-events: none;
    /* Allows interactions with the image beneath */
}
